.keret {
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    background-color: rgba(255,255,255,.7)
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: red;
}

.jobbrakep {
    float: right;
    width: 300px;
    margin-left: 20px;
    margin-bottom: 20px;
}
html{
    background-image:url(hatterkep.jpg);
    font-family: sans-serif;
}
.forras{
    font-size: 10px;
    text-align: right;
    font-style: italic;
}
p{
    text-align: justify;
}